button{
  height:55px;
  width:95px;
  top: 50px;
  left: 50px;
}

body{
 text-align: center;
 font-family: 'Gloria Hallelujah', cursive;
 background-color: #FAEBD7;
}

h1{
  font-size: 50px;
}

p{
  font-size: 50px;
  font-family: 'Cormorant Garamond', serif;
}
