body{
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #FAEBD7;
}

p{
  font-family: 'Cormorant Garamond', serif;
}

.supershame{
  color: #FAEBD7;
}

img{
  height: 100px;
  float: left;
}
